html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 56px;
}

.account-dropdown {
	transform: translate(0px, 0px)!important;
}

@media (max-width: 991.98px) {
  .offcanvas-collapse {
    position: fixed;
    top: 78px; /* Height of navbar */
    bottom: 0;
    right: 100%;
    width: 100%;
    max-width: 280px;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: #212529!important;
    text-align: left;
    text-transform: capitalize;
    transition: transform .3s ease-in-out, visibility .3s ease-in-out;
  }

  .offcanvas-collapse.open {
    visibility: visible;
    transform: translateX(100%);
    box-shadow: 5px 4em 2em 2px rgb(0 0 0 / 10%), 7px 0em 0.5em 3px rgb(0 0 0 / 25%);
    display: flex!important;
    flex-direction: column!important;
    margin-bottom: auto !important;
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
  }

  .offcanvas-collapse.open .navbar-nav .nav-link {
    font-family: var(--bs-font-sans-serif) !important;
    font-size: 1rem;
	  font-weight: 400;
	  line-height: 1.5;
	  -webkit-text-size-adjust: 100%;
    text-transform: capitalize;
    color: #fff;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .offcanvas-collapse.open .navbar-nav .nav-link:hover {
    color: #fff;
	  background-color: var(--themeColor);
    border: 0;
	  border-radius: .25rem;
    padding-right: 1rem;
    padding-left: 1rem;
  }

  .account-dropdown {
    position: absolute !important; 
    inset: auto auto 0px 0px!important; 
    margin: 0px!important; 
    transform: translate(0px, -34px)!important;
  }

}

.divider {
  max-height: 1px;
  margin-bottom: 10px;
}


.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  color: rgba(255, 255, 255, .75);
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.nav-underline .nav-link {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: .875rem;
  color: #6c757d;
}

.nav-underline .nav-link:hover {
  color: #007bff;
}

.nav-underline .active {
  font-weight: 500;
  color: #343a40;
}

.text-white-50 { color: rgba(255, 255, 255, .5); }

.bg-purple { background-color: #6f42c1; }
